<a href="https://colab.research.google.com/github/gnodnooh/Peru-Health-Flood/blob/master/cluster_pisco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### This script investigates intensity of rainfall at selected clusters

#### Donghoon Lee @ Oct-28-2019

In [44]:
import os
import pandas as pd
import numpy as np
import geopandas as gpd
import rasterio
from shapely.geometry import Point
from google.colab import drive
drive.mount('/content/drive')
projdir = './drive/My Drive/Colab Notebooks/peru_health_flood'
import sys
sys.path.append(projdir)
import preprocessing as pp

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Pandas dataframe from the CSV file

In [59]:
filn_in = os.path.join(projdir, './data/Cluster_27-10-19.csv')
df = pd.read_csv(filn_in, header=0).dropna()
df = df.rename(columns={'distrito':'district',
                       'latitud_a':'y',
                       'longitud_a':'x'})
df.head()

     id    region   district         y          x
0  1001  Amazonas   Aramango -5.412300 -78.439110
1  2001  Amazonas   Aramango -5.353548 -78.436368
2  3001  Amazonas   Aramango -5.319083 -78.434840
3  4001  Amazonas   Aramango -5.462448 -78.451157
4  5001  Amazonas   Aramango -5.459933 -78.459775

Generate cluster points as ESRI shapefile

In [62]:
# GeoDataFrame needs a shapely object
df['Coordinates'] = list(zip(df.x, df.y))           # Coordinates
df['Coordinates'] = df['Coordinates'].apply(Point)  # tuples to Shapely's Point
crs = {'init': 'epsg:4326'}
gdf = gpd.GeoDataFrame(df, crs=crs, geometry='Coordinates')

# Write ESRI shapefile
filn_out = os.path.join(projdir, 'data/cluster.shp')
gdf.to_file(filn_out)
print('%s is saved.' % filn_out)

./drive/My Drive/Colab Notebooks/peru_health_flood/data/cluster.shp is saved.

In [63]:
gdf.head()

     id    region   district         y          x                 Coordinates
0  1001  Amazonas   Aramango -5.412300 -78.439110  POINT (-78.43911 -5.41230)
1  2001  Amazonas   Aramango -5.353548 -78.436368  POINT (-78.43637 -5.35355)
2  3001  Amazonas   Aramango -5.319083 -78.434840  POINT (-78.43484 -5.31908)
3  4001  Amazonas   Aramango -5.462448 -78.451157  POINT (-78.45116 -5.46245)
4  5001  Amazonas   Aramango -5.459933 -78.459775  POINT (-78.45977 -5.45993)

#### Tasks
> Determine the average rainfall only for the months of February and March from 1980 to 2010 and excluding from the analysis the years 1982, 1983, 1997 and 1998 (years of the occurrence of Niño phenomena)

> Determine the average of the sum of rainfall only for the months of February and March from 1980 to 2010 and excluding from the analysis the years 1982, 1983, 1997 and 1998 (years of the occurrence of Niño phenomena)

> Determine the average rainfall only for the months of February and March of the year 2017 (Coastal Niño)

> Determine the total sum of rainfall only for the months of February and March of the year 2017 (Coastal Niño)

> The previous analyzes can be done with the Pisco raster files for all of Peru (that information would serve us for future analysis) and then extract the information for each of my cluster (3584), or you can also extract it only for my cluster. (attached file of my cluster)